<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모두의 서재</title>
</head>
<style>
 
.loginbox{
    width: 300px;
    height: 300px;
    margin: auto;
    padding-top: 30px;

    background-color: aquamarine;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;

    text-align: center;
}
.title{
    color: blueviolet;
}

.loginbtn{
    width: 70px;
}
.signupbtn{
    width: 70px;
}
h1{
    font-size: 100px;
    text-align: center;
}

</style>

<body>
    <h1>모두의 서재</h1>
    <div class="loginbox">
        <h2 class="title">Login</h2>
        <p> <input type="text" name="UserName" placeholder="ID"></p>
        <p> <input type="password" name="UserPassword" placeholder="Password"></p>
        <p class="btns"><button class="loginbtn">로그인</button>  <button class="signupbtn" onclick="window.location.href='/signup'">회원가입</button></p>
    </div>

  





</body>

</html>